# Dart & Flutter 관련
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# macOS 관련
.DS_Store

# Android 관련
/android/local.properties

# Xcode 관련
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.lock
DerivedData/
*.pbxuser

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Logs
*.log

# 바이너리 파일
*.class
*.swp
*.swo
*.pyc

# 기타
.history
.svn/
.atom/
.buildlog/

# 예외 처리 (flutter_tools 테스트용)
/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
